DATABASE_URL="file:./db/custom.db"
NEXTAUTH_SECRET="umairdocs-secret-key-change-this-in-production"
NEXTAUTH_URL="http://localhost:3000"
RESEND_API_KEY=YOUR_RESEND_API_KEY_HERE
EMAIL_FROM=UmairDocs <onboarding@resend.dev>
